<!DOCTYPE html>
<html>
  <%- include ("./partials/head",{title: "Iglesia Emanuel A.C.M.E"}) %>
  <body>
      <img class="emanuelLogo" src="images/emanuelLogo.png" alt="">
      <div class="contBtnIngresar">
        <a class="btnIngresar" href="/usuario/login">Ingresar</a>
      </div>
  </body>
</html>
