<!DOCTYPE html>
<html lang="en">
    <%- include ("./partials/head",{title: "Iglesia Emanuel A.C.M.E"}) %>
    <body>
        <img class="emanuelLogo" src="../images/emanuelLogo.png" alt="">
        <section class="registroNuevo">
            <form class="registroform" method="post">
                <input type="text" name="nombreMiembro" id="" placeholder="Ingrese nombre">
                <input type="text" name="apellidoMiembro" id="" placeholder="Ingrese apellido">
                <input type="tel" name="celularMiembro" id="" placeholder="Ingrese celular">
                <input type="number" name="edadMiembro" id="" placeholder="Ingrese edad">
                <input type="text" name="oracionMiembro" id="" placeholder="Ingrese peticion">
                <div class="contBtnRegistrar">
                    <button class="btnRegistrar" type="submit">Registrar</button>
                </div>
            </form>
        </section>
    </body>
</html>