<!DOCTYPE html>
<html lang="en">
<%- include ("./partials/head",{title: "Iglesia Emanuel A.C.M.E"}) %>
<body>
    <img class="emanuelLogoLogin" src="../images/emanuelLogo.png" alt="">
    <section class="login">
        <form class="formLogin" action="" method="post">
            <input type="number" name="dni" id="dni" placeholder="Ingrese su Dni">
            <input type="password" name="pass" id="pass" placeholder="Ingrese su contraseña">
            <div class="contBtnInicio">
                <button class="btnInicio" type="submit">Ingresar</button>
            </div>
        </form>
    </section>
</body>
</html>